<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/Css1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account/normalize.css' %}">
	<title></title>
</head>
<body>
	<div class="navbar">
        <div class="wrapper">
            <div class="The-logo-part">
                <img class="MyLogo" src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Simple_Shop_logo.png"  alt="Logo">
                <div class="Links">
                    <a class="part" href="">Home</a>
                    <a class="part" href="">About</a>
                    <a class="part" href="">Contact</a>
                </div>
            </div>
            <div class="Sign-in">
                <a href="/sign_up" class="Sign-up-button">Sign up</a>
                <a href="/sign_in" class="Log-in-button">Sign in</a>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="Samsung-Galaxy-A70">
                <h2>Laptop</h2>
                <img src="https://icon-library.com/images/laptop-icon-png-transparent/laptop-icon-png-transparent-8.jpg" alt="A70" class="Samsung" height=200px width=360px>
                <p class="parag">Price:$460.00</p>
                <button class="but-android" type="submit">Read More</button>
            </div>
            <div class="Samsung-Galaxy-A70">
                <h2>Laptop</h2>
                <img src="https://icon-library.com/images/laptop-icon-png-transparent/laptop-icon-png-transparent-8.jpg" alt="A70" class="Samsung" height=200px width=360px>
                <p class="parag">Price:$460.00</p>
                <button class="but-android" type="submit">Read More</button>
            </div>
        </div>

    </div>
</body>
</html>