.wrapper{
    display: flex;
    justify-content: space-between;
    width:900px;
    margin: 0 auto;
}
.text{
  margin-bottom: 68px;
}

.MyLogo{
    height:100px;
    margin-left:  -230px;
}
.The-logo-part{
    display: flex;
    align-items: center;
}
body{
    background: black;
}
.part{
    margin-right: 10px;
    margin-left: 20px;
    color:#929292 ;
    text-decoration: none;
    font-family: 'Bangers', cursive;
}
.part:hover{
    color:black;
}
.navbar{
    background-color: white;
}
.Sign-in{
    align-self: center;
}
.Sign-up-button{
    color:#929292 ;
    background: none;
    font-size:20px;
    font-family: 'Bangers', cursive;
    border:none;
    padding: 14px 20px;
    text-decoration: none;
    
}
.Sign-up-button:hover{
    color: black;
}
.Log-in-button{
    color:#929292 ;
    background: none;
    font-size:20px;
    font-family: 'Bangers', cursive;
    border:none;
    padding: 14px 20px;
    text-decoration: none;
}
.Log-in-button:hover{
    color: black;
}
.ros{
    margin-top: 30px;
}

.container{
  margin-top: 120px;
}
.content{
    display: flex;
    justify-content: space-around;
    height: 380px;
    margin:0 auto;
}
.Samsung-Galaxy-A70{
    background: white;
    width:600px;
    padding: 0px;

}
.but-android{
  padding:12px 22px;
  border:1px solid rgb(255, 0, 0);
  border-radius: 5px;
  background: whitesmoke;
  color:rgb(0, 0, 0);
  margin:0 auto;
  margin-left: 237px;


}
.Samsung{
    margin-left: 122px;
}
.but-android:hover{
  background: rgb(255, 0, 0);
  color: white;
}
h2{
    margin-left: 30px;
}
p{
    margin-left: 30px;
}